@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

.header-section {
  margin: 35px 22px;
}

.header-section > div > .my-logo:hover {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 18px;
  line-height: 20px;
  width: 76px;
  height: 20px;
}

.header-section > div > ul.u {
  position: absolute;
  width: 18px;
  height: 12px;
  left: 473px;
  top: 27px;
}

.header-section > div > ul.r {
  position: absolute;
  width: 26.46px;
  height: 4.73px;
  left: 227.18px;
  top: 81.59px;
}

.header-section > div > ul.a {
  position: absolute;
  width: 105px;
  height: 105px;
  left: 463px;
  top: 72.24px;
}

.header-section > div > ul.b {
  position: absolute;
  width: 95.58px;
  height: 22.02px;
  left: 408px;
  top: 55.79px;
  transform: rotate(-30deg);
}

.header-section > div > ul.c {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 314px;
  top: 60px;
}

.header-section > div > ul.d {
  position: absolute;
  width: 11px;
  height: 10px;
  left: 244.98px;
  top: 83.81px;
  transform: rotate(52.97deg);
}

.header-section > div > ul.f {
  position: absolute;
  width: 38.5px;
  height: 19.25px;
  left: 16.04px;
  top: 61.47px;
  transform: rotate(-3.88deg);
}

.menu-section > div > ul.g {
  position: absolute;
  width: 24.14px;
  height: 12.07px;
  left: 341.76px;
  top: 430.69px;
  transform: rotate(-05.08deg);
}

.menu-section > div > ul.h {
  position: absolute;
  width: 30.1px;
  height: 30.1px;
  left: 332.18px;
  top: 440.44px;
  transform: rotate(29.41deg);
}

.menu-section > div > ul.i {
  position: absolute;
  width: 15px;
  height: 15px;
  left: 53px;
  top: 545px;
}

.menu-section > div > ul.j {
  position: absolute;
  width: 68.06px;
  height: 12.18px;
  left: 191.82px;
  top: 543px;
  transform: rotate(13.41deg);
}

.menu-section > div > ul.k {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 237px;
  top: 557.1px;
}

.menu-section {
  background-repeat: no-repeat;
  background-size: auto;
  background-clip: padding-box;
  object-fit: contain;
  padding-bottom: 138px;
  margin-bottom: 114px;
  border-bottom-left-radius: 20px;
}

.menu-section > div {
  width: 100%;
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.menu-section > div > .heading-title {
  font: normal normal 700 40px 'Poppins', sans-serif;
  line-height: 52px;
  margin-top: 45px;
  color: #172b4d;
}

.menu-section > div > .p-text {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
  height: 120px;
  margin-top: 5px;
}

.menu-section > div > .connect:hover {
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
}

.menu-section > div > .media-icons {
  display: flex;
  gap: 10px;
  align-items: baseline;
}
